.searchmsg {
  color: #5c5d55;
  font-size: 16px;
}

#searchlinks {
  text-align: center;
  font-size: 16px;
  float: left;
  width: 1024px;
  margin-top: 70px;
}

#searchlinks .searchlinks-icon,
#searchlinks-home .searchlinks-icon{
  display: inline;
  padding: 0 20px 0 0;
}

#searchlinks-home {
  text-align: center;
  width: 455px;
  margin-top: 14px;
  font-size: 16px;
  color: #f00;
}

#searchbox {
  position: absolute;
  left: 285px;
  top: 145px;
}

#searchbox input.txtSearch {
  width: 350px !important;
  border: 1px solid #f00;
  margin-right: 5px;
  height: 31px;
  padding: 7px;
  border-radius: 0px;
}

#searchbox input.txtSearch:hover {
  border-color: #aa0000;
}

#sel_domain_court, #sel_corpus {
  width: 460px;
}

#searchdomain {
  position: absolute;
  top: 123px;
  font-size: 16px;
  color: #fff;
}

#searchcorpus {
  position: absolute;
  top: 212px;
  font-size: 16px;
  color: #fff;
}

#searchdomain #searchdomain-dropdown,
#searchcorpus #searchcorpus-dropdown {
  margin-top: 10px;
}

#tagcloud {
  position: absolute;
  top: 330px;
  width: 449px;
  text-align: center;
  overflow: hidden;
}

#tagcloud .tag a,
#tagcloud .tag a:hover,
#tagcloud .tag a:focus {
  color: #fff;
  text-decoration: none;
}

#tagcloud span {
  margin: 0 10px 0 10px;
}

#tagcloud .largest {
  font-size: 22px;
}

#tagcloud .large {
  font-size: 19px;
}

#tagcloud .medium {
  font-size: 16px;
}

#tagcloud .small {
  font-size: 13px;
}












