.ui-tabs ul li a {
  width: 150px;
}
.ui-tabs ul li {
  display: inline-block !important;
  float: none !important;
}

.nav-tabs li > a,
.nav-tabs li > a:hover,
.nav-tabs li > a:focus,
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
  background-color: #fff;
  border-bottom-color: transparent !important;
  cursor: default;
  border-radius: 0px;
}

.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
  color: red;
  border: 1px solid #aaaaaa;
}

.nav-tabs li > a {
  color: black;
  border: 1px solid #ddd;
}

.nav-tabs li > a:hover {
  color: black;
  border: 1px solid #aaaaaa;
}

.ui-tabs {
  text-align: center !important;
  margin-top: 35px;
}

.ui-btns {
  height: 50px;
}

.nav-btns {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.nav-tabs.centered > li, .nav-pills.centered > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs.centered, .nav-pills.centered {
  text-align:center;
}